<main class="container mx-auto  ">
<!--Section: Blog v.4-->
<section class="section section-blog-fw pt-4 mt-4 pb-3">

    <!--Grid row-->
    <div  align = "center" >

<!--Card-->
<div class="card card-cascade wider reverse my-4">

    <!--Card image-->
    <div  class="view overlay hm-white-slight waves-light"  mdbRippleRadius>
        <img src="assets\sanjuan.jpg"  width="1000" height="400"class="img-fluid">
        <a>
            <div class="mask"></div>
        </a>
    </div>
    <!--/Card image-->

    <!--Card content-->
    <div class="card-body text-center">
        <!--Title-->
        <h4 class="card-title"><strong>Welcome to BNC Coffee</strong></h4>

        <p class="card-text">Sed ut perspiciatis unde omnis iste natus sit voluptatem accusantium doloremque laudantium, totam rem aperiam.
        </p>

        <a type="button" class="btn-floating btn-large btn-fb waves-light" mdbRippleRadius><i class="fa fa-facebook"></i></a>
      <!--Twitter-->
      <a type="button" class="btn-floating btn-large btn-tw waves-light" mdbRippleRadius><i class="fa fa-twitter"></i></a>
      <!--Instagram-->
      <a type="button" class="btn-floating btn-large btn-ins waves-light" mdbRippleRadius><i class="fa fa-instagram"></i></a>

    </div>
    <!--/.Card content-->

</div>
<!--/.Card-->


        <section class="section team-section pb-3">

            <!--Section heading-->
            <h2 class="section-heading h1 pt-4" align="center">Our amazing team</h2>
            <!--Section description-->
            <!--Grid row-->
            <div class="row text-center">

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-r">

                    <div class="avatar">
                        <img src="assets\user.png" height="250px" class="rounded-circle z-depth-1" alt="First sample avatar image">
                    </div>
                    <br>
                    <h4>Gabriel Vélez Lacayo</h4>
                    <h6 class="font-bold blue-text">Front-end Developer</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur.</p>

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-r">

                    <div class="avatar">
                      <img src="assets\user.png" height="250px" class="rounded-circle z-depth-1" alt="First sample avatar image">
                    </div>
                    <br>
                    <h4>Kelvin Lopez</h4>
                    <h6 class="font-bold blue-text">Back-end Developer</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur.</p>

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-r">

                    <div class="avatar">
                      <img src="assets\ramon.jpg" height="250px" class="rounded-circle z-depth-1" alt="First sample avatar image">
                    </div>
                    <br>
                    <h4>Ramon Medina</h4>
                    <h6 class="font-bold blue-text">Back-end Developer</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur.</p>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-3 col-md-6 mb-r">

                    <div class="avatar">
                      <img src="assets\josean.jpg" height="250px" class="rounded-circle z-depth-1" alt="First sample avatar image">
                    </div>
                    <br>
                    <h4>Josean Ayala</h4>
                    <h6 class="font-bold blue-text">Front-end Developer</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur.</p>
                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->

        </section>
        <!--Section: Team v.1-->
    </div>
    <!--Grid row-->
    <hr class="mb-5 mt-4">



</section>
<!--Section: Blog v.4-->
</main>
