
<div class="container-fluid-sidenav"  >
  <div class="wrapper">
      <!-- Sidebar Holder -->
      <nav id="sidebar">
          <div class="sidebar-header">
              <h3>Admin Dashboards</h3>
          </div>

          <ul class="list-unstyled components">

              <li>
                  <a routerLink="/add_product" class="Sidenavs-link" href="#">Add Products</a>
              </li>
              <li>
                <a routerLink="/manage_products" class="Sidenavs-link" href="#">Manage Products</a>
              </li>
              <li>
                <a routerLink="/manage_account" class="Sidenavs-link" href="#">Manage Accounts</a>
              </li>
              <li>
                <a routerLink="/sales" class="Sidenavs-link" href="#">Sales Report</a>
              </li>
              <li>
                <a routerLink="/create_account" class="Sidenavs-link" href="#">Create Account</a>
              </li>
              <li>
                <a routerLink="/view_order" class="Sidenavs-link" href="#">View Orders</a>
              </li>


          </ul>
      </nav>
  </div>
</div>

  <!-- jQuery CDN -->
   <!-- <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script> -->
   <!-- Bootstrap Js CDN -->
   <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> -->

   <!-- <script type="text/javascript">
       $(document).ready(function () {
           $('#sidebarCollapse').on('click', function () {
               $('#sidebar').toggleClass('active');
           });
       });
   </script> -->
