<div class="container-fluid-sidenav">
        <div class="wrapper">
          <!-- Sidebar Holder -->
          <nav id="sidebar">
            <div class="sidebar-header">
              <h3>Admin Dashboards</h3>
            </div>
      
            <ul class="list-unstyled components">
      
              <li>
                <a routerLink="/add_product" class="Sidenavs-link" href="#">Add Products</a>
              </li>
              <li>
                <a routerLink="/manage_products" class="Sidenavs-link" href="#">Manage Products</a>
              </li>
              <li>
                <a routerLink="/manage_account" class="Sidenavs-link" href="#">Manage Accounts</a>
              </li>
              <li>
                <a routerLink="/sales" class="Sidenavs-link" href="#">Sales Report</a>
              </li>
              <li>
                <a routerLink="/create_account" class="Sidenavs-link" href="#">Create Account</a>
              </li>
              <li>
                <a routerLink="/view_order" class="Sidenavs-link" href="#">View  Order</a>
              </li>
      
      
            </ul>
          </nav>
        </div>
      </div>
      




<div _ngcontent-c4="" class="card card-cascade narrower">
        <div class="text-center">
          <h1 class="spaceMarginTop">
            <strong>Edit User Account</strong>
          </h1>
        </div>
      
        <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-4">
                        <app-edit-user-admin></app-edit-user-admin>
                      </div>
                      <div class="col-sm-8">
                        <app-edit-address-admin></app-edit-address-admin>
                      </div>
                </div>
              </div>
      
</div>



<!-- <br><br>

<div class="container-fluid">
  <div class="row">
      <div class="col-sm-4">
          <app-edit-user-info></app-edit-user-info>
        </div>
        <div class="col-sm-8">
          <app-edit-address></app-edit-address>
        </div>
  </div>
</div>

 -->
