
<!--Carousel Wrapper-->
<mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [interval]="4000"  [animation]="'fadeInLeft'">
    <!--First slide-->
    <mdb-slide>
        <div class="view hm-black-light">
            <img class="d-block w-100" width="1000" height="715" src="assets\pexel.jpeg" alt="First slide">
            <div class="mask waves-light" mdbRippleRadius></div>
        </div>
        <div class="carousel-caption animated fadeInLeft">
            <h3 class="h3-responsive">Coffee Mugs</h3>
            <p>Starting at 15$</p>
            <button routerLink="/products" class="btn btn-default waves-light"  mdbRippleRadius>Show Collection</button>
        </div>
    </mdb-slide>
    <!--/First slide-->
    <!--Second slide-->
    <mdb-slide>
        <div class="view hm-black-strong">
            <img class="d-block w-100" width="1000" height="725"src="assets\wallpaper.jpg" alt="Second slide">
            <div  class="mask waves-light" mdbRippleRadius></div>
        </div>
        <div class="carousel-caption animated fadeInLeft">
            <h3 class="h3-responsive">Thermo Mugs</h3>
             <p>Starting at 29$</p>
            <button routerLink="/products" class="btn btn-default waves-light"  mdbRippleRadius>Show Collection</button>
        </div>
    </mdb-slide>
    <!--/Second slide-->
    <!--Third slide-->
    <mdb-slide>
        <div class="view hm-black-slight">
            <img class="d-block w-100" width="1000" height="725" src="assets\dev.jpeg" alt="Third slide">
            <div class="mask waves-light" mdbRippleRadius></div>
        </div>
        <div class="carousel-caption animated fadeInLeft">
            <h3 class="h3-responsive">Glass Coffee Mugs</h3>
            <p>Starting at 10$</p>
            <button routerLink="/products" class="btn btn-default waves-light"  mdbRippleRadius>Show Collection</button>
        </div>
    </mdb-slide>
    <!--/Third slide-->
</mdb-carousel>





<!--/.Carousel Wrapper-->
